@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base{
@font-face {
  font-family: "MacPaw Fixel Display";
  font-style: normal;
  font-weight: 700;
  src: local('MacPaw Fixel Display'),
  url('./shared/fonts/FixelDisplay-Bold.woff2') format("woff2");
}
@font-face {
  font-family: "MacPaw Fixel Display";
  font-style: normal;
  font-weight: 400;
  src: local('MacPaw Fixel Display'),
  url('./shared/fonts/FixelDisplay-Regular.woff2') format("woff2");
}
@font-face {
  font-family: "MacPaw Fixel Display";
  font-style: normal;
  font-weight: 500;
  src: local('MacPaw Fixel Display'),
  url('./shared/fonts/FixelDisplay-Medium.woff2') format("woff2");
}
@font-face {
  font-family: "MacPaw Fixel Display";
  font-style: normal;
  font-weight: 600;
  src: local('MacPaw Fixel Display'),
  url('./shared/fonts/FixelDisplay-SemiBold.woff2') format("woff2");
}
}


body{
  font-family: 'MacPaw Fixel Display';
  color: #121417;
  background-color: #FCFCFC;
}